.btn {
    display: inline-block;
    margin-bottom: 0; // For input.btn
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    border: 1px solid transparent;
    white-space: nowrap;
    user-select: none;
    outline: none;
    text-transform: uppercase;
    letter-spacing: $btn-letter-spacing;
    font-size: $btn-font-size;   
    font-weight: $btn-font-weight;
    border-radius: $btn-border-radius;
    height: $btn-height;
    min-width: $btn-min-width;
}

.btn-primary {
    color: $btn-primary-color;
    background-color: $btn-primary-bg;
    &:hover {
        background-color: $btn-primary-hover-bg;
    }
    &:active {
        background-color: $btn-primary-active-bg;
    }
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12),
    0 0 2px 0 rgba(0, 0, 0, 0.12);
}

.btn-link {
    color: $btn-link-color;
    background-color: transparent;

    &:hover {
        color: $btn-link-hover-color;
    }
    &:active {
        color: $btn-link-active-color;
    }
}

.btn-link-primary {
    color: $btn-link-primary-color;
    background-color: transparent;

    &:hover {
        color: $btn-link-primary-hover-color;
    }
    &:active {
        color: $btn-link-primary-active-color;
    }
}

.btn-inline {
    min-width:0;
    height:inherit;
}
