.header {
    margin-bottom: 60px;
}

.position-container {
    width:100%;
    display:table;
    box-sizing: border-box;
    border-top: 1px solid $gray-lighter;    
    padding-top: 15px;
    margin-top: 15px;
}

.panel-heading {
    cursor: pointer;
    user-select: none;
}