.toolbox {
    display: table;
}

.toolbox-item {
    display: table-cell;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;

    &:not(:first-child) {
        padding-left: 30px;
    }
}

.toolbox-primary {
    width: 99%
}