.input-field {
    display: block;
    width: 100%;
    outline: 0;
    padding-top: $input-padding-top;
    padding-bottom: $input-padding-bottom;
    padding-left: $input-padding-left;
    padding-right: $input-padding-right;
    height: $input-height;
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: $input-color;
    background-color: $input-bg;
    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    border: 1px solid $input-border;
    border-radius: $input-border-radius;
    @include placeholder($input-placeholder-color);
    &:hover,
    &:focus {
        border: 1px solid $input-border-hover;
    }
}

.checkbox input {
    position: absolute;
    opacity: 0;
    z-index: -1;
    /* Put the input behind the label so it doesn't overlay text */
}

.checkbox {
    position: relative;
    >label {
        padding-left: 25px;
        font-weight: normal;
    }
}

.checkbox-indicator {
    position: absolute;
    top: 1px;
    left: 0;
    display: block;
    width: 18px;
    height: 18px;
    text-align: center;
    color: $checkbox-color;
    background-color: $checkbox-indicator-bg;
    background-clip: padding-box;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid $checkbox-indicator-border;
    border-radius: 2px;
    user-select: none;
}

.checkbox:hover .checkbox-indicator {
    border-color: $checkbox-indicator-hover-border;    
}

.checkbox input:checked~.checkbox-indicator {
    background-color: $checkbox-indicator-checked-bg;
    border-color: $checkbox-indicator-checked-border;
    background-image: url('data:image/svg+xml;utf8,<svg fill="#ffffff" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"/><path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z"/></svg>');
}

.ng-submitted.ng-invalid input.ng-invalid,
.ng-submitted.ng-invalid select.ng-invalid,
input.ng-dirty.ng-invalid {
    border: 1px solid $brand-danger;
    color: $brand-danger;
}

.error-list {
    color: $brand-danger;
    font-size:12px;
}