.modal {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $zindex-modal;
    -webkit-overflow-scrolling: touch;
    text-align: center;
    padding: 0!important;
    outline: 0;

    &.in {
        display:block;
    }
    &.in .modal-dialog {
        transform: translate(0, 0);
    }
}

@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    position: relative;
    width: auto;
    margin: 0 auto;
    width: 600px;
}

.modal-content {
    position: relative;
    background-color: $modal-content-bg;
    border-radius: $modal-border-radius;
    box-shadow: 0 24px 24px 0 rgba(0, 0, 0, 0.24), 0 0 24px 0 rgba(0, 0, 0, 0.12);
    background-clip: padding-box; // Remove focus outline from opened modal
    outline: 0;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $zindex-modal-background;
    background-color: $modal-backdrop-bg;
    &.in {
        opacity: $modal-backdrop-opacity;
    }
}

.modal-header {
    padding: $modal-title-padding;
    padding-bottom: 0;
    // border-bottom: 1px solid $modal-header-border-color;
    @include clearfix;
}

// Close icon
.modal-header .close {
    margin-top: -2px;
}

.modal-title {
    margin: 0;
    line-height: $modal-title-line-height;
}

.modal-body {
    position: relative;
    padding: $modal-inner-padding;
    padding-top: 0;

    .toolbox-item {
        &:not(:first-child) {
            padding-left: 15px;
        }
        .btn {
            min-width: $modal-btn-min-width;
        }
    }
}

.close {
    float: right;
    font-size: 28px;
    line-height: 1;
    color: $close-btn-color;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;

    outline:0;

    &:hover {
        color: $close-btn-hover-color;
    }

    &:active {
        color: $close-btn-active-color;
    }
}
