.panel {
    border-radius: $panel-border-radius;
    background-color: $panel-bg;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 0 2px 0 rgba(0, 0, 0, 0.12);
    margin-top: $panel-margin-top;
    margin-bottom: $panel-margin-bottom;
    padding-top: $panel-padding-top;
    padding-bottom: $panel-padding-bottom;
    padding-left: $panel-padding-left;
    padding-right: $panel-padding-right;
    display: inline-block;
    width: 100%;
    &.expanded {
        box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.12), 0 0 8px 0 rgba(0, 0, 0, 0.12);
        margin-top: $panel-expanded-margin-top;
        margin-bottom: $panel-expanded-margin-bottom;
    }

    transition: margin-top 0.125s ease-in-out, margin-bottom 0.125s ease-in-out, box-shadow 0.125s ease-in-out;  
}

.panel-body {
    @include clearfix;
    p {
        margin: 0;
    }
}

.panel-controls {
    float: left;
    width: 100%;
    .left-controls {
        float: left;
    }
    .right-controls {
        float: right;
    }
     :after {
        clear: both;
    }
}

.panel-heading {
    margin-bottom: $panel-heading-margin-bottom;
    h2 {
        margin-top: 0;
        margin-bottom: 0;
    }
}