h1, h2, h3 {
  font-family: $headings-font-family;
  color: $headings-color;
}

h1, h2, h3 {
  margin-top: $line-height-computed;
  margin-bottom: ($line-height-computed / 2);
}

h1 { font-size: $font-size-h1; }
h2 { font-size: $font-size-h2; }
h3 { font-size: $font-size-h3; }

h1 { line-height: $line-height-h1; }
h2 { line-height: $line-height-h2; }
h3 { line-height: $line-height-h3; }

h1 { letter-spacing: -0.1px; }

p {
  margin: 0 0 ($line-height-computed / 2);
}

small {
  font-size: $font-size-small;
}

.text-muted {
  color: $text-muted-color;
}

.text-left           { text-align:  left; }
.text-right          { text-align:  right; }
.text-center         { text-align:  center; }
.text-justify        { text-align:  justify; }
.text-nowrap         { white-space: nowrap; }



