// Colors
$body-bg:                           #f2f2f2;

$white-base:                        #fff !default;

$gray-base:                         #000 !default;
$gray-darker:                       rgba(0, 0, 0, 0.90) !default;
$gray-dark:                         rgba(0, 0, 0, 0.87) !default;  
$gray:                              rgba(0, 0, 0, 0.47) !default; 
$gray-light:                        rgba(0, 0, 0, 0.37) !default; 
$gray-lighter:                      rgba(0, 0, 0, 0.12) !default; 

$brand-primary:                     #00aa87 !default;
$brand-danger:                      #f05c5c !default;

// Typography
$font-family-roboto:                "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif !default; 
$font-family-base:                  $font-family-roboto !default;

$headings-font-family:              inherit !default;
$headings-color:                    inherit !default;

$font-size-base:                    16px !default;

$font-size-small:                   floor(($font-size-base * 0.85)) !default;

$font-size-h1:                      floor(($font-size-base * 5.15)) !default; // ~82px
$font-size-h2:                      floor(($font-size-base * 1.45)) !default; // ~23px
$font-size-h3:                      floor(($font-size-base * 1.2)) !default; // ~19px

$line-height-base:                  1.5 !default;
$line-height-computed:              floor(($font-size-base * $line-height-base)) !default; // ~24px

$line-height-h1:                    floor(($font-size-h1 * $line-height-base * 0.8)) !default; // ~64px
$line-height-h2:                    floor(($font-size-h2 * $line-height-base * 0.95)) !default; // ~32px
$line-height-h3:                    floor(($font-size-h3 * $line-height-base * 1)) !default; // ~28px

$text-color:                        $gray-dark !default;
$text-muted-color:                  $gray-light !default;

$hr-border:                         $gray-lighter !default;

$link-color:                        $brand-primary !default;
$link-hover-color:                  darken($link-color, 15%) !default;
$link-hover-decoration:             underline !default;

// Panels
$panel-border-radius:               3px;
$panel-margin-top:                  4px;
$panel-margin-bottom:               4px;

$panel-expanded-margin-top:         $panel-margin-top * 2;
$panel-expanded-margin-bottom:      $panel-margin-bottom * 2;

$panel-padding-top:                 16px;
$panel-padding-bottom:              16px;
$panel-padding-left:                24px;
$panel-padding-right:               24px;

$panel-heading-margin-bottom:       8px;
$panel-bg:                          $white-base;

// Buttons
$btn-primary-color:                 #fff !default;
$btn-primary-bg:                    $brand-primary;

$btn-primary-hover-bg:              #00816c;
$btn-primary-active-bg:             #00826c;

$btn-link-color:                    $gray-light;
$btn-link-hover-color:              $gray;
$btn-link-active-color:             $gray-darker;

$btn-link-primary-color:            $brand-primary;
$btn-link-primary-hover-color:      #00816c;
$btn-link-primary-active-color:     #006554;

$btn-font-size:                     14px;
$btn-font-weight:                   500;
$btn-letter-spacing:                0.5px;
$btn-min-width:                     215px;
$btn-height:                        36px;
$btn-border-radius:                 2px;

// Inputs
$input-height:                      40px;
$input-color:                       $gray-dark;
$input-bg:                          $white-base;
$input-border:                      $gray-lighter;
$input-border-radius:               2px;
$input-padding-top:                 8px;
$input-padding-bottom:              8px;
$input-padding-left:                16px;
$input-padding-right:               16px;
$input-placeholder-color:           $gray-light;

$input-border-hover:                $gray-light;

// Checkbox
$checkbox-color:                    $white-base;
$checkbox-indicator-bg:             $white-base;
$checkbox-indicator-border:         $gray-light;
$checkbox-indicator-hover-border:   $gray;
$checkbox-indicator-checked-bg:     $brand-primary;
$checkbox-indicator-checked-border: $brand-primary;

// Modals
$zindex-modal-background:           1040 !default;
$zindex-modal:                      1050 !default;

$modal-content-bg:                  $white-base;
$modal-border-radius:               3px;
$modal-backdrop-bg:                 #000 !default;
$modal-backdrop-opacity:            .5 !default;
$modal-title-padding:               24px !default;
$modal-title-line-height:           $line-height-base !default;
$modal-header-border-color:         #e5e5e5 !default;
$modal-inner-padding:               24px !default;
$modal-btn-min-width:               150px;

$close-btn-color:                   $gray-light;
$close-btn-hover-color:             $gray;
$close-btn-active-color:            $gray-dark;

$icon-margin-right:                 3px;

// Utilities
$default-spacing:                   5px;

$m-r:                               $default-spacing;
$m-l:                               $default-spacing;
$m-t:                               $default-spacing;
$m-b:                               $default-spacing;