<div ng-if="vm.isDisplayed">
    <div class="modal in">
        <form name="addNewProjectForm" class="modal-dialog" ng-submit="addNewProjectForm.$valid && vm.addNewProject(vm.newProject)"
            novalidate>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="vm.close()">
                        &times;
                    </button>
                    <h3 class="modal-title">Новый проект</h4>
                </div>
                <div class="modal-body">
                    <hr></hr>
                    <div class="toolbox">
                        <div class="toolbox-item toolbox-primary">
                            <input type="text" name="name" class="input-field" placeholder="Название проекта" ng-model="vm.newProject.name" required unique-name="vm.projects">
                        </div>

                        <div class="toolbox-item">
                            <button type="submit" class="btn btn-primary">Создать</button>
                        </div>
                    </div>
                    <div ng-messages="addNewProjectForm.name.$error" ng-show="addNewProjectForm.name.$dirty || addNewProjectForm.$submitted" class="error-list">
                        <div ng-message="required">Необходимо ввести название проекта</div>
                        <div ng-message="uniqueName">Данное название уже используется</div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="modal-backdrop in"></div>
</div ng-if="vm.isDisplayed">