<div class="container">
    <div class="header">
        <h1>Список проектов</h1>
    </div class="header">

    <div class="toolbox m-b">
        <div class="toolbox-item toolbox-primary">
            <input type="text" class="input-field" placeholder="Поиск по вакансиям" ng-model="vm.filter.name">
        </div>
        <div class="toolbox-item">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="vm.filter.onlyOpen">
                    <span class="checkbox-indicator"></span>
                    Только открытые
                </label>
            </div>
        </div>
        <div class="toolbox-item">
            <button type="button" class="btn btn-primary" ng-click="vm.openAddProjectModal()">Добавить проект</button>
        </div>
    </div>
    <div>
        <div class="panel" 
            ng-repeat="project in vm.projects | filter: vm.projectsFilter" 
            ng-class="{'expanded': project.isExpanded}">
            <div class="panel-heading" ng-click="vm.expandProject(project)">
                <h2>{{project.name}}</h2>
            </div>
            <div class="panel-body">
                <div class="panel-controls">
                    <div class="left-controls">
                        <span class="m-r" ng-class="{'text-muted':!project.isOpen}">{{vm.getNumberOfPositions(project)}} {{vm.getNumberEnding(vm.getNumberOfPositions(project), ['вакансия', 'вакансии', 'вакансий'])}}</span>
                        <button type="button" class="btn btn-link-primary btn-inline" ng-click="vm.openAddPositionModal(project)" ng-show="project.isOpen">
                            Добавить вакансию
                        </button>
                        <small ng-hide="project.isOpen" class="text-muted">
                            <span class="icon-check"></span>                            
                            Проект закрыт, сотрудники наняты
                        </small>
                    </div>
                    <div class="right-controls">
                        <button type="button" class="btn btn-link-primary btn-inline" ng-hide="project.isOpen" ng-click="vm.openProject(project)">
                            Открыть проект
                        </button>
                        <button type="button" class="btn btn-link btn-inline" ng-show="project.isOpen" ng-click="vm.closeProject(project)">
                            Закрыть проект
                        </button>
                        <button type="button" class="btn btn-link btn-inline" ng-click="vm.removeProject(project)">
                            Удалить
                        </button>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div ng-show="project.isExpanded">
                    <div ng-repeat="position in project.positions | filter:vm.positionsFilter" class="position-container">
                        <p ng-class="{'text-muted': !position.isOpen}">{{position.name}}</h3>
                            <div class="panel-controls m-t">
                                <div class="left-controls">
                                    <small class="text-muted">
                                        <span ng-hide="position.isOpen">
                                            <span class="icon-check"></span>
                                            Вакансия закрыта, сотрудник нанят
                                        </span>
                                        <span ng-show="position.isOpen">
                                            <span class="icon-search"></span>                                            
                                            Вакансия открыта, идет подбор кандидатов</span>
                                    </small>
                                </div>
                                <div class="right-controls">
                                    <button type="button" class="btn btn-link-primary btn-inline" ng-hide="position.isOpen" ng-click="vm.openPosition(project, position)">
                                        Открыть вакансию
                                    </button>
                                    <button type="button" class="btn btn-link btn-inline" ng-show="position.isOpen" ng-click="vm.closePosition(project, position)">
                                        Закрыть вакансию
                                    </button>
                                    <button type="button" class="btn btn-link btn-inline" ng-click="vm.removePosition(project, position)">
                                        Удалить
                                    </button>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<add-project projects="vm.projects" is-displayed="vm.displayAddProjectModal"></add-project>
<add-position project="vm.selectedProject" is-displayed="vm.displayAddPositionModal"></add-project>